.custom-control-input:checked~.custom-control-label::before{
  background-color:#0bceaf;
  border-color:#0bceaf;
}


.custom-control-input:focus:not(:checked)~.custom-control-label::before{
  border-color:#0bceaf;
  box-shadow:0 0 0 0.2rem rgba(53,247,216,.3)
}


.nav-strict .navbar-brand {
  margin-top: 0px;
}


.navbar-brand {
  padding-left: 10px;
  margin-top: 30px;
  z-index: 900;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
}


@media only screen and (max-width: 991px) {
  .white-vertion .mh-xs-mobile-nav .bgColor {
    background-color: white;
  }

  .dark-vertion .mh-xs-mobile-nav .bgColor {
    background-color: #202026;
  }
}


@media only screen and (max-width: 991px) {
  .home-padding {
    padding-top: 150px;
  }
}


@media only screen and (max-width: 575px) {
  .home-padding {
    padding-top: 100px;
  }
}



.blueimp-gallery>.slides>.slide>.slide-content {
  margin: 0
}

.blueimp-gallery-carousel {
  padding-bottom:220%
}

.marvel-device.iphone-x {
  background-color: black;
}

.marvel-device.iphone-x .volume, .marvel-device.iphone-x .volume:before, .marvel-device.iphone-x .volume:after, .marvel-device.iphone-x .sleep {
  background-color: black;
}